<html lang="en">
<style>
body {background-color: white;}
p1   {color: blue;}
p2   {color: blue;}
</style>
</head>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<title>BECAS DEPORTIVAS</title>
		<style>
			/* scoped CSS styles go here: */
			/* h1 { ... } */
		</style>
	</head>

	<body>

		<p1>Hola bienvenidos a la nueva web de Clubes Deportivos de Escuela Ideo donde vuestros hijos podrán disfrutar de las actividades deportivas extraescolares como nunca antes lo habian hecho.</p1>
	
	  <p2>Hay muchas acitividades que experimentar así que.¡A que esperáis!
		</p2>
	
	
	
	</body>
</html>